<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/style.css">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <img class = "pokadex" src="/public/images/pokadex.png" alt="">
            <div class="new-pokemon-form">
                <form action="">
                    <label for="pokemon-name">Pokemon Name</label>
                    <input type="text" id = "pokemon-name" name="pokemon-name">

                    <label for="pokemon-image">Pokemon Image</label>
                    <input type="text" id = "pokemon-image" name="pokemon-image">

                    <label for="pokemon-type">Pokemon Type</label>
                    <input type="text" id = "pokemon-type" name="pokemon-type">

                    <div class="stats-cont">
                        <div>
                            <label for="pokemon-HP">HP</label>
                            <input type="text" id = "pokemon-HP" name="pokemon-HP">
                        </div>
                        <div>
                            <label for="pokemon-attack">Attack</label>
                            <input type="text" id = "pokemon-attack" name="pokemon-attack">
                        </div>
                        <div>
                            <label for="pokemon-defense">defense</label>
                            <input type="text" id = "pokemon-defense" name="pokemon-defense">
                        </div>
                        <div>
                            <label for="pokemon-spattack">Special Attack</label>
                            <input type="text" id = "pokemon-spattack" name="pokemon-spattack">
                        </div>
                        <div>
                            <label for="pokemon-spdefense">Special Defense</label>
                            <input type="text" id = "pokemon-spdefense" name="pokemon-spdefense">
                        </div>
                        <div>
                            <label for="pokemon-speed">Speed</label>
                            <input type="text" id = "pokemon-speed" name="pokemon-speed">
                        </div>
                    </div>
                    <input type="submit" name="submit" value="Submit">
                </form>
            </div>
            <div class="pokemon-one">
                <div class="pokemon">
                  <div class="pokemon-img-lg">
                    <img src="{{pokemon.img}}" alt="" />
                  </div>
                </div>
              </div>
              <div class="pokemon-name">
                <h1>{{pokemon.name}}</h1>
              </div>
              <div class="pokemon-type">
                <div class="type1">
                  <h2>{{pokemon.type[0]}}</h2>
                </div>
                <div class="type2">
                  <h2>{{pokemon.type[1]}}</h2>
                </div>
              </div>
              <div class="pokemon-stats">
                <div class="stat-cont">
                  <div class="stat-cat">Hp</div>
                  <div class="stat-val">{{pokemon.stats.hp}}</div>
                </div>
                <div class="stat-cont">
                  <div class="stat-cat">Atk</div>
                  <div class="stat-val">{{pokemon.stats.attack}}</div>
                </div>
                <div class="stat-cont">
                  <div class="stat-cat">Def</div>
                  <div class="stat-val">{{pokemon.stats.defense}}</div>
                </div>
                <div class="stat-cont">
                  <div class="stat-cat">SPAK</div>
                  <div class="stat-val">{{pokemon.stats.spattack}}</div>
                </div>
                <div class="stat-cont">
                  <div class="stat-cat">SPDF</div>
                  <div class="stat-val">{{pokemon.stats.spdefense}}</div>
                </div>
              </div>
              <div class="pokemon-moves">
                  <ul>
                        {% for move in pokemon.moves.level%}
                      <li>
                          <div class="move">
                            <p>
                                {% if move.learnedat == ""%}
                                <span class= "move-name">{{move.name}}</span>
                                learned at level: 
                                <span class="lvl">0</span>
                                {%else%}
                                <span class= "move-name">{{move.name}}</span>
                                learned at level: 
                                <span class="lvl">{{move.learnedat}}</span>
                                {%endif%}
                            </p>
                          </div>
                      </li>
                      {%endfor%} 
                  </ul>
              </div>
            <div class="new">
                <a href="pokedex/new">Create a New Pokemon</a>
            </div>
        </div>
    </body>
    </html>